<div class="home-page">
  <div class="sidebar">
    <h4 class="title p-2">FuelKhata</h4>
    <ul class="display-flex">
     <ng-container *ngIf="commonService.isLoggedIn">
      <li  class="nav-item" *ngFor= 'let item of navigartioDropdown'>
        <a class="nav-link" href="{{item.value}}">{{item.label}}</a>
      </li>
      <li class="nav-item" (click) ='logout()'>
        <a class="nav-link" style="cursor: pointer;">Logout</a>
      </li>
     </ng-container>
      
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>