<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Home/Customer">Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Home/Sales">Sales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About Us</a>
      </li>
  </ul>
<router-outlet></router-outlet>
  